<div class="row">
  <div class="header">
    <img width="300" alt="Marvel Logo" src="//i.annihil.us/u/prod/misc/marvel.svg">
  </div>
</div>
<div class="body">
  <app-loader [loading]="loading"></app-loader>
  <div *ngIf="characters">
    <div class="card-deck">

      <div *ngFor="let character of characters">

        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="{{character.thumbnail.path}}/portrait_fantastic.{{character.thumbnail.extension}}" alt="Card image cap">
          <div class="card-body">
            <button type="button" class="card-title btn btn-link"(click)="show(character)">{{character.name}}</button>
          </div>
        </div>

      </div>

      <div *ngIf="modalShow">
        {{modalShow}}
        <app-modal [modalShow]="modalShow" [modalData]="modalData" (onCloseClick)="onCloseClick($event)">
        </app-modal>
      </div>
    </div>

    <div
    infiniteScroll
    [infiniteScrollDistance]="1"
    [infiniteScrollThrottle]="1000"
    (scrolled)="onScroll()">
    </div>

  </div>
</div>
<footer class="footer" *ngIf="!loading">
  <div class="container">
    <p class="text-muted"> {{attributionText}} </p>
  </div>
</footer>
