.static-modal{
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  overflow: hidden;
  outline: 0;
}

.card-header{
  border-bottom: 2px inset;
  padding: 1rem 1.5rem;
  background: 0 0;
}
