<div *ngIf="characters">
  <div class="card-columns ">
    <div *ngFor="let character of characters" class="card">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="{{character.thumbnail.path}}/portrait_fantastic.{{character.thumbnail.extension}}" alt="Card image cap">
        <div class="card-body">
          <a class="card-title"(click)="show(character)">{{character.name}}</a>
        </div>
      </div>
    </div>
    <div *ngIf="modalShow">
      {{modalShow}}
      <app-modal [modalShow]="modalShow" [modalData]="modalData" (onCloseClick)="onCloseClick($event)">
      </app-modal>
    </div>
  </div>
</div>
<footer class="footer">
  <div class="container">
    <p class="text-muted"> {{attributionText}} </p>
  </div>
</footer>
